html {
  font-size: 10px;
  line-height: 10px;
  box-sizing: border-box;
  color: #333333;
}
.white {
  color: #ffffff;
}
.bg-white{
  background-color: #ffffff;
}
.red {
  color: #f38181;
}
.bg-red {
  background-color: #f38181;
}
.bg-cyan {
  background-color : #95e1d3;
}
.grey {
  color: #999999;
}
.black {
  color: #000000;
}