<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/mogo/css/reset.css">
    <link rel="stylesheet" href="../../static/mogo/css/mogo_hardcording.css">
    <title>Mogo</title>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="logo">MoGo</div>
            <div class="nav-bar">
                <ul class="nav-item">
                    <li class="nav-items selected">ABOUT</li>
                    <li class="nav-items">SERVICE</li>
                    <li class="nav-items">WORK</li>
                    <li class="nav-items">BLOG</li>
                    <li class="nav-items">CONTACT</li>
                    <li class="nav-items"><img src="../../static/mogo/img/mogo/mogo_cart.png" alt=""></li>
                    <li class="nav-items"><img src="../../static/mogo/img/mogo/mogo_search.png" alt=""></li>
                </ul>
            </div>
            <div class="creative-template">
                Creative&nbsp;Template
            </div>

            <div class="welcome-to-mogo">
                WELCOME<br>TO&nbsp;MOGO
            </div>    
            <hr class="underline">
            <div class="learn-more">LEARN&nbsp;MORE</div>
            <div class="slide">
                <ul class="slide-select">
                    <li class="slide-bar"></li>
                    <li class="slide-bar"></li>
                    <li class="slide-bar"></li>
                    <li class="slide-bar"></li>
                    <li class="selected"></li>
                </ul>
                <ul class="slide-name">
                    <li class="slide-items"><span class="number">01</span>INTRO</li>
                    <li class="slide-items"><span class="number">02</span>WORK</li>
                    <li class="slide-items"><span class="number">03</span>ABOUT</li>
                    <li class="slide-items"><span class="number">04</span>CONTACTS</li>
                </ul>
            </div>
        </header>
        <!-- end of header -->
        <div id="content-wrap">
            <div class="section whatwedo">
                <span class="what-we-do">What&nbsp;we&nbsp;do</span><br>
                <span class="story-about-us">STORY&nbsp;ABOUT&nbsp;US</span>
                <hr class="underline">
                <span class="contents">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span><br>
                <div class="image-card select">
                    <div class="selected">
                        <img src="../../static/mogo/img/mogo/mogo_story-selected.png" alt="">
                        <span class="super-team">SUPER&nbsp;TEAM</span>
                    </div>
                </div>
                <div class="image-card"><img src="../../static/mogo/img/mogo/mogo_story-img-2.png" alt="">
                </div>
                <div class="image-card"><img src="../../static/mogo/img/mogo/mogo_story-img-3.png" alt="">
                </div>
            </div>
            <!-- end of story -->
            <div class="section statistics">
                <div class="statistic-items"><span class="statistic-number">42</span><br>WEB&nbsp;DESIGN&nbsp;PROJECTS</div>
                <div class="statistic-items"><span class="statistic-number">123</span><br>HAPPY&nbsp;CLIENT</div>
                <div class="statistic-items"><span class="statistic-number">15</span><br>AWARD&nbsp;WINNER</div>
                <div class="statistic-items"><span class="statistic-number">99</span><br>CUP&nbsp;OF&nbsp;COFFEE</div>
                <div class="statistic-items"><span class="statistic-number">24</span><br>MEMBERS</div>
            </div>
            <!-- end of statistics -->
            <div class="section weworkwith">
                <span class="we-work-with">We&nbsp;work&nbsp;with</span><br>
                <span class="amazing-services">AMAZING&nbsp;SERVICES</span>
                <hr class="underline">
                <div class="services-wrap">
                    <div class="services-items">
                        <img src="../../static/mogo/img/mogo/mogo_photography.png" alt="">
                        <span class="services-title">PHOTOGRAPHY</span><br>
                        <span class="services-content">LLorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                    </div>
                    <div class="services-items">
                        <img src="../../static/mogo/img/mogo/mogo_web-design.png" alt="">
                        <span class="services-title">WEB DESIGN</span>
                        <span class="services-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                    </div>
                    <div class="services-items">
                        <img src="../../static/mogo/img/mogo/mogo_creativity.png" alt="">
                        <span class="services-title">CREATIVITY</span>
                        <span class="services-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                    </div>
                    <div class="services-items">
                        <img src="../../static/mogo/img/mogo/mogo_seo.png" alt="">
                        <span class="services-title">SEO</span>
                        <span class="services-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                    </div>
                    <div class="services-items">
                        <img src="../../static/mogo/img/mogo/mogo_css-html.png" alt="">
                        <span class="services-title">CSS/HTML</span>
                        <span class="services-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                    </div>
                    <div class="services-items">
                        <img src="../../static/mogo/img/mogo/mogo_digital.png" alt="">
                        <span class="services-title">DIGITAL</span>
                        <span class="services-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                    </div>
                </div>
            </div>
            <!-- end of services -->
            <div class="section foralldevices">
                <span class="for-all-devices">For&nbsp;all&nbsp;devices</span><br>
                <span class="unique-design">UNIQUE&nbsp;DESIGN</span>
                <hr class="underline">
                <div class="design-main">
                    <div class="design-attached"></div>
                </div>
            </div>
            <!-- end of design -->
            <div class="section service-wrap">
                <div class="service">service</div>
                <div class="what-we-do">WHAT&nbsp;WE&nbsp;DO</div>
                <hr class="underline">
                <div class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                <img src="../../static/mogo/img/mogo/mogo_wwd.png" alt="">
                <div class="dropdown selected">
                    <div class="drop-header">
                        <img src="../../static/mogo/img/mogo/mogo_photography.png" alt="">
                        <span class="dropdown-header-title">PHOTOGRAPHY</span>
                        <div class="toggle"><img src="../../static/mogo/img/mogo/mogo_drop-up.png" alt=""></div>
                    </div>
                    <div class="drop-body">
                        <span class="drop-body-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </span>
                    </div>
                </div>
                <div class="dropdown">
                    <div class="drop-header">
                        <img src="../../static/mogo/img/mogo/mogo_wwd-creativity.png" alt="">
                        <span class="dropdown-header-title">CREATIVITY</span>
                        <div class="toggle"><img src="../../static/mogo/img/mogo/mogo_drop-down.png" alt=""></div>
                    </div>
                    <div class="drop-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                </div>
                <div class="dropdown">
                    <div class="drop-header">
                        <img src="../../static/mogo/img/mogo/mogo_wwd-web-design.png" alt="">
                        <span class="dropdown-header-title">WEB DESIGN</span>
                        <div class="toggle"><img src="../../static/mogo/img/mogo/mogo_drop-down.png" alt=""></div>
                    </div>
                    <div class="drop-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                </div>
            </div>
            <!-- end of whatwedo -->
            <div class="section comment-wrap">
                <div class="comment-content-wrap">
                    <img class="carousel-left" src="../../static/mogo/img/mogo/mogo_carousel-left.png" alt="">
                    <img class="carousel-right" src="../../static/mogo/img/mogo/mogo_carousel-right.png" alt="">
                    <div class="comment-image">
                        <img src="../../static/mogo/img/mogo/mogo_comment.png" alt="" class="small">
                    </div>
                    <div class="comment-contents">
                        <span class="comment-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. eiusmod tempor incididunt ut labore et dolore magna aliqua."</span>              
                        <hr class="underline"><span class="comment-name">Jon Doe</span>
                    </div>
                </div>
            </div>
            <!-- end of comment -->
            <div class="section whoweare">
                <div class="who-we-are">Who&nbsp;we&nbsp;are</div><br>
                <div class="meet-our-team">MEET&nbsp;OUR&nbsp;TEAM</div>
                <hr class="underline">
                <span class="contents">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                <div class="image-card">
                    <div class="selected"> 
                        <div class="menu">
                            <div class="menu-items"></div>
                            <div class="menu-items"></div>
                            <div class="menu-items"></div>
                            <div class="menu-items"></div>
                        </div>
                    </div>
                    <span class="card-name">MATTHEW&nbsp;DIX</span><br>
                    <span class="card-job">Graphic&nbsp;Design</span>
                </div>

                <div class="image-card">
                    <div class="notselected"> 
                        <img src="../../static/mogo/img/mogo/mogo_mot2.png" alt="">
                    </div>
                    <span class="card-name">CHRISTOPHER&nbsp;CAMPBELL</span><br>
                    <span class="card-job">Branding/UX&nbsp;Design</span>
                </div>
                <div class="image-card">
                    <div class="notselected"> 
                        <img src="../../static/mogo/img/mogo/mogo_mot3.png" alt="">
                    </div>    
                    <span class="card-name">MICHAEL&nbsp;FERTIG</span><br>
                    <span class="card-job">Developer</span>
                </div>
            </div>
            <div class="logos">
                <img src="../../static/mogo/img/mogo/mogo_logos.png" alt="">
            </div>
            <!-- end of meetourteam -->
            <div class="section whatwedo_works">
                <div class="what-we-do">What&nbsp;we&nbsp;do</div>
                <div class="some-of-our-work">SOME&nbsp;OF&nbsp;OUR&nbsp;WORK</div>
                <hr class="underline">
                <div class="contents">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <table>
                    <tr>
                        <td><img src="../../static/mogo/img/mogo/mogo_works1.png" alt=""></td>
                        <td><img src="../../static/mogo/img/mogo/mogo_works2.png" alt=""></td>
                        <td rowspan="2"><img src="../../static/mogo/img/mogo/mogo_works3.png" alt=""></td>
                        <td><img src="../../static/mogo/img/mogo/mogo_works4.png" alt=""></td>
                    </tr>
                    <tr>
                        <td><img src="../../static/mogo/img/mogo/mogo_works5.png" alt=""></td>
                        <td><img src="../../static/mogo/img/mogo/mogo_works6.png" alt=""></td>
                        <td><img src="../../static/mogo/img/mogo/mogo_works7.png" alt=""></td>
                    </tr>
                </table>
                <div class="section comment-wrap">
                    <div class="comment-content-wrap">
                        <img class="carousel-left" src="../../static/mogo/img/mogo/mogo_carousel-left.png" alt="">
                        <img class="carousel-right" src="../../static/mogo/img/mogo/mogo_carousel-right.png" alt="">
                        <div class="comment-image">
                            <img src="img/mogo/mogo_comment.png" alt="" class="small">
                        </div>
                        <div class="comment-contents">
                            <span class="comment-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. eiusmod tempor incididunt ut labore et dolore magna aliqua."</span>              
                            <hr class="underline"><span class="comment-name">Joshua&nbsp;Earle</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of works -->
            <div class="section happyclients">
                <div class="happy-clients">Happy Clients</div>
                <div class="what-people-say">WHAT PEOPLE SAY</div>
                <hr class="underline">
                <div class="client-card-wrap">
                    <div class="client-card">
                        <div class="client-image">
                            <img src="../../static/mogo/img/mogo/mogo_client1.png" alt="">
                        </div>
                        <div class="client-contents">
                            <span class="client-name">MATTHEW&nbsp;DIX</span><br>
                            <span class="client-job">Graphic&nbsp;Design</span><br>
                            <hr class="underline">
                            <span class="client-comment">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                            </span>
                        </div>
                    </div>
                    <div class="client-card">
                        <div class="client-image">
                            <img src="../../static/mogo/img/mogo/mogo_client2.png" alt="">
                        </div>
                        <div class="client-contents">
                            <span class="client-name">MATTHEW&nbsp;DIX</span><br>
                            <span class="client-job">Graphic&nbsp;Design</span><br>
                            <hr class="underline">
                            <span class="client-comment">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                            </span>
                        </div>
                    </div>
                    <div class="client-card">
                        <div class="client-image">
                            <img src="../../static/mogo/img/mogo/mogo_client3.png" alt="">
                        </div>
                        <div class="client-contents">
                            <span class="client-name">MATTHEW&nbsp;DIX</span><br>
                            <span class="client-job">Graphic&nbsp;Design</span><br>
                            <hr class="underline">
                            <span class="client-comment">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                            </span>
                        </div>
                    </div>
                    <div class="client-card">
                        <div class="client-image">
                            <img src="../../static/mogo/img/mogo/mogo_client4.png" alt="">
                        </div>
                        <div class="client-contents">
                            <span class="client-name">MATTHEW&nbsp;DIX</span><br>
                            <span class="client-job">Graphic&nbsp;Design</span><br>
                            <hr class="underline">
                            <span class="client-comment">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of clientsay -->
            <div class="section ourstories">
                <div class="our-stories">Our&nbsp;stories</div>
                <div class="latest-blog">LATEST&nbsp;BLOG</div>
                <hr class="underline">
                <div class="blog-card-wrap">
                    <div class="blog-card">
                        <div class="blog-card-image">
                        <img src="../../static/mogo/img/mogo/mogo_ourstories1.png" alt="">
                            <div class="blog-card-attach">
                                <span class="attach-month">
                                    15
                                    <span class="attach-day">
                                        Jan
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="blog-card-title">Lorem ipsum dolor sit amet</div>
                        <span class="blog-card-contents">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </span>
                        <hr>
                        <div class="replzone">
                            <div class="repl-image one"></div><span class="number">542</span>
                            <div class="repl-image two"></div><span class="number">77</span>
                        </div>
                    </div>
                    <div class="blog-card">
                        <div class="blog-card-image">
                        <img src="../../static/mogo/img/mogo/mogo_ourstories2.png" alt="">
                            <div class="blog-card-attach">
                                <span class="attach-month">
                                    14
                                    <span class="attach-day">
                                        Jan
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="blog-card-title">Lorem ipsum dolor sit amet</div>
                        <span class="blog-card-contents">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </span>
                        <hr>
                        <div class="replzone">
                            <div class="repl-image one"></div><span class="number">992</span>
                            <div class="repl-image two"></div><span class="number">42</span>
                        </div>
                    </div>
                    <div class="blog-card">
                        <div class="blog-card-image">
                        <img src="../../static/mogo/img/mogo/mogo_ourstories3.png" alt="">
                            <div class="blog-card-attach">
                                <span class="attach-month">
                                    15
                                    <span class="attach-day">
                                        Jan
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="blog-card-title">Lorem ipsum dolor sit amet</div>
                        <span class="blog-card-contents">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </span>
                        <hr>
                        <div class="replzone">
                            <div class="repl-image one"></div><span class="number">1550</span>
                            <div class="repl-image two"></div><span class="number">98</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of ourstories -->
            <div class="section openmap">
                <div class="open-map-image">
                    <img src="../../static/mogo/img/mogo/mogo_mappoint.png" alt="">
                </div>
                <span class="open-map">OPEN MAP</span>
                <hr class="underline">
            </div>
            <!-- end of openmap -->
            <div class="community-wrap">
                <div class="section community">
                    <div class="panel sns">
                        <span class="mogo">MoGo</span><br>
                        <span class="contents">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</span><br>
                        <span class="followers"><span class="follower-number">15k&nbsp;</span>followers</span>
                        <hr class="shadow">
                        <span class="follow-us">Follow Us: </span>
                        <div class="sns-image-wrap">
                            <div class="sns-image"><img src="../../static/mogo/img/mogo/mogo_sns1.png" alt=""></div>
                            <div class="sns-image"><img src="../../static/mogo/img/mogo/mogo_sns2.png" alt=""></div>
                            <div class="sns-image"><img src="../../static/mogo/img/mogo/mogo_sns3.png" alt=""></div>
                            <div class="sns-image"><img src="../../static/mogo/img/mogo/mogo_sns4.png" alt=""></div>
                            <div class="sns-image"><img src="../../static/mogo/img/mogo/mogo_sns5.png" alt=""></div>
                            <div class="sns-image"><img src="../../static/mogo/img/mogo/mogo_sns6.png" alt=""></div>
                            <div class="sns-image"><img src="../../static/mogo/img/mogo/mogo_sns7.png" alt=""></div>
                            <div class="sns-image"><img src="../../static/mogo/img/mogo/mogo_sns8.png" alt=""></div>
                        </div>
                        <input type="text" placeholder="Your Email" class="email-input"><input type="button" class="subscribe-button" value="SUBSCRIBE">
                    </div>
                    <!-- end of sns -->
                    <div class="panel blogs">
                        <span class="blogs-title">BLOGS</span>
                        <div class="blogs-section">
                            <div class="blogs-image">
                                <img src="../../static/mogo/img/mogo/mogo_blog1.png" alt="">
                            </div>
                            <div class="blogs-contents">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            </div>
                            <div class="blogs-date">
                                Jan 9, 2016
                            </div>
                        </div>
                        <div class="blogs-section">
                            <div class="blogs-image">
                                <img src="../../static/mogo/img/mogo/mogo_blog2.png" alt="">
                            </div>
                            <div class="blogs-contents">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            </div>
                            <div class="blogs-date">
                                Jan 9, 2016
                            </div>
                        </div>
                        <div class="blogs-section">
                            <div class="blogs-image">
                                <img src="../../static/mogo/img/mogo/mogo_blog3.png" alt="">
                            </div>
                            <div class="blogs-contents">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            </div>
                            <div class="blogs-date">
                                Jan 9, 2016
                            </div>
                        </div>
                    </div>
                    <!-- end of blog -->
                    <div class="panel instagram">
                        <span class="instagram-title">INSTAGRAM</span>
                        <table>
                            <tr>
                                <td><img src="../../static/mogo/img/mogo/mogo_insta1.png" alt=""></td>
                                <td><img src="../../static/mogo/img/mogo/mogo_insta2.png" alt=""></td>
                                <td><img src="../../static/mogo/img/mogo/mogo_insta3.png" alt=""></td>
                            </tr>
                            <tr>
                                <td><img src="../../static/mogo/img/mogo/mogo_insta4.png" alt=""></td>
                                <td><img src="../../static/mogo/img/mogo/mogo_insta5.png" alt=""></td>
                                <td><img src="../../static/mogo/img/mogo/mogo_insta6.png" alt=""></td>
                            </tr>
                            <tr>
                                <td><img src="../../static/mogo/img/mogo/mogo_insta7.png" alt=""></td>
                                <td><img src="../../static/mogo/img/mogo/mogo_insta8.png" alt=""></td>
                                <td><img src="../../static/mogo/img/mogo/mogo_insta9.png" alt=""></td>
                            </tr>
                        </table>
                        <span class="instagram-contents">view more photos</span>
                    </div>
                    <!-- end of instagram-->
                </div>
            </div>
            <!-- end of community -->
        </div>
        <!-- end of content-wrap -->
        <footer>
            <span class="footer-text">&copy;2016 MoGo free PSD template by<span class="red">&nbsp;Laaqiq</span></span>
        </footer>
        <!-- end of footer -->
    </div>
</body>
</html>